* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
    
}
.Autres_formations{
    position: relative;
    width: 100%;
    min-width: 320px;
    height: 100vh;
    background-color: beige;
  
}
.Autres_formations h2{
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    padding-top: 40px;
    margin-bottom: 30px;
}
.Autres_formations p {
    text-align: justify;
    width:300px;
    margin: auto;
    font-size: 18px;
    margin-bottom: 30px;
}
.autres_formations__img {
 display: flex;
 justify-content: center;    
 margin-bottom: 30px;
}
.date__sjt{
    text-align: center;
}