* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
    
}

.loisirs{
    position: relative;
    width: 100%;
    min-width: 320px;
    height: 100%;
    /* padding-top: 30px;
    padding-bottom: 30px; */
    background-color:#FDEDEC;
  
}
.loisirs h2 {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 10px;
}
.Loisirs__top {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.Loisirs__top p {
    text-align: justify;
    width:200px;
    margin: auto;
    font-size: 14px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 5px;
}
