


    /* Styles  defecto pour les telephons */
     
:root {
  --font-weightH2: 700;
  --font-ZiseH2: 150%;
  --font-ziseP: 120%;
  --width-sections: 500px; 
  --margin-sections: auto;
  --pading-sections: 5px;

}



/* @media screen and (min-width: 320px) and (max-width: 915px){ */
@media screen and (min-width: 500px) and (max-width: 1024px){

  
    /* Styles pour les tables */
    header {
      /*background-color: rgb(49, 97, 209);*/
      background-image:url("./images/Imagen-arbolHeader.svg")  ;
      background-repeat: no-repeat;
      background-size: auto;
      min-width: 500px;
      

    }
    .foto_david{
      width: 35%;
      height: 35%;
  }
.header_h1 {
   
    color: white; 
}

.header__developer__title{
    
    color: white;
}
.header_icon_in {
  padding: 4em;
}
path {
  fill: white; 
}
.Qui_suis-je {
  width: var(--width-sections);
  margin: var(--margin-sections);
  padding: var(--pading-sections);
}
.Qui_suis-je p {
  text-align: justify;
    width:400px;
    margin: auto;
    font-size: var(--font-ziseP);
    margin-bottom: 30px;
}
.competences{
  width: var(--width-sections);
  margin: var(--margin-sections);
  padding: var(--pading-sections);
}
.container-competencesIcons {
  width: var(--width-sections);
  margin: var(--margin-sections);
  padding: var(--pading-sections);
}
.formations {
  width: var(--width-sections);
  margin: var(--margin-sections);
  padding: var(--pading-sections);
}
.Autres_formations{
  width: var(--width-sections);
  margin: var(--margin-sections);
  padding: var(--pading-sections);
}
.projets {
  width: var(--width-sections);
  margin: var(--margin-sections);
  padding: var(--pading-sections);
}
.loisirs{
  width: var(--width-sections);
  margin: var(--margin-sections);
  /* padding: var(--pading-sections); */
}
.section__freelance {
  width: var(--width-sections);
  margin: var(--margin-sections);
  padding: var(--pading-sections);
}
/* P*/
.Qui_suis-je p {
  font-size:var(--font-ziseP);
}
.formations p {
  font-size: var(--font-ziseP);
}

.Autres_formations p {
  font-size: var(--font-ziseP);
}
.projets p {
  font-size: var(--font-ziseP);
}
.loisirs p {
  font-size: var(--font-ziseP);
}
.animations p {
  font-size: var(--font-ziseP);
}
/* h2*/
.Qui_suis-je h2 {
  font-size: var(--font-ZiseH2);
  font-weight: var(--font-weightH2);
}.competences h2 {
  font-weight: var(--font-weightH2);
  font-size: var(--font-ZiseH2);
}
.formations h2 {
  font-weight: var(--font-weightH2);
  font-size: var(--font-ZiseH2);
}
.Autres_formations h2 {
  font-weight: var(--font-weightH2);
  font-size: var(--font-ZiseH2);
}
.projets h2{
  font-weight: var(--font-weightH2);
  font-size: var(--font-ZiseH2);
}
.loisirs h2 {
  font-weight: var(--font-weightH2);
  font-size: var(--font-ZiseH2);
}
.animations h2 {
  font-weight: var(--font-weightH2);
  font-size: var(--font-ZiseH2);
}
.container-competencesIcons {
  width: 500px;
}
.Loisirs__top {
  width: 90%;
  margin: auto;
  padding: 1%;
  justify-content: space-evenly;
}
.Loisirs__top p {
  width: 60%;
  
}
}





