@media screen and (min-width: 1025px) and (max-width: 1720px){
  :root {
    --font-weightH2: 700;
    --font-ZiseH2: 200%;
    --font-ziseP: 150%;
    --width-sections: 500px; 
    --margin-sections: auto;
    --pading-sections: 15px;
    --width-articles: 330px;
    --padding-articles: 5px;
    --margin-articles: auto;
  }
    /* Styles pour les ordenateurs */
    header {
      /*background-color: rgb(49, 97, 209);*/
      background-image:url("./images/Imagen-arbolHeader.svg")  ;
      background-repeat: no-repeat;
      background-size: auto;
      

    }
    .foto_david{
      width: 35%;
      height: 35%;
  }
.header_h1 {
   
    color: white; 
}

.header__developer__title{
    
    color: white;
}
.header_icon_in {
  padding: 4em;
  margin-bottom: 20px;
}
.parent {
  display: flex;
  justify-content: space-evenly;
}

  .Qui_suis-je {
    width: var(--width-sections);
    margin: var(--margin-sections);
    padding: var(--pading-sections);
    
  }
  .Qui_suis-je p {
    width: 500px;
  }
  .competences{
    width: var(--width-sections);
    margin: var(--margin-sections);
    padding: var(--pading-sections);
    
  }
  .container-competencesIcons {
    width: var(--width-sections);
    margin: var(--margin-sections);
    padding: var(--pading-sections);
  }
  .parent1 h2 {
    text-align: center;
    font-size: var(--font-ZiseH2);
    font-weight: var(--font-weightH2);
  }
  .formations {
    width: 100%;
    margin: var(--margin-sections);
    padding: var(--pading-sections);
    display: grid;
grid-template-columns: repeat(6, 1fr);
grid-template-rows: repeat(8, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
  }
  .h2formations{
    text-align: center;
  }
  .formation1 {
    width: var(--width-articles);
    padding: var(--padding-articles);
    grid-area: 1 / 1 / 4 / 3;
    margin: var(--margin-articles);
  }
  .formation2{
    width: var(--width-articles);
    padding: var(--padding-articles);
    grid-area: 1 / 3 / 4 / 5;  
    margin: var(--margin-articles);
  }
  .formation3 {
    width: var(--width-articles);
    padding: var(--padding-articles);
    grid-area: 1 / 5 / 4 / 7;
    margin: var(--margin-articles);
  }
  .formation4 {
    width: var(--width-articles);
    padding: var(--padding-articles);
    grid-area: 4 / 1 / 8 / 3;
    margin: var(--margin-articles);
  }
  .formation5 {
    width: var(--width-articles);
    padding: var(--padding-articles);
    grid-area:4 / 3 / 8 / 5; 
    margin: var(--margin-articles);
  }

  .Autres_formations{
    width: var(--width-articles);
    padding: var(--padding-articles);
    grid-area: 4 / 5 / 8 / 7;
    margin: var(--margin-articles);
    
  }
  /* ///////*/ 

  .parent2 {
    display: flex;
    justify-content: space-evenly;
  }
  .projets {
    width: var(--width-sections);
    margin: var(--margin-sections);
    padding: var(--pading-sections);
  }
  .loisirs{
    width: var(--width-sections);
    margin: var(--margin-sections);
    padding: var(--pading-sections);
  }
  .section__freelance {
    width: 100%;
    margin: var(--margin-sections);
    padding: var(--pading-sections);
    display: flex;
    justify-content: space-evenly;
  }

.parent3 {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: 100%;
    background-color: rgb(188, 233, 217);
    padding-bottom: 30px;
}
.parent3 h2 {
    text-align: center;
    font-size: var(--font-ZiseH2);
    font-weight: var(--font-weightH2);
    margin: auto;
}


/* P*/
.Qui_suis-je p {
  font-size:var(--font-ziseP);
}
.formations p {
  font-size: var(--font-ziseP);
}

.Autres_formations p {
  font-size: var(--font-ziseP);
}
.projets p {
  font-size: var(--font-ziseP);
}
.loisirs p {
  font-size: var(--font-ziseP);
}
.animations p {
  font-size: var(--font-ziseP);
}
/* h2*/
.Qui_suis-je h2 {
  font-size: var(--font-ZiseH2);
  font-weight: var(--font-weightH2);
}.competences h2 {
  font-weight: var(--font-weightH2);
  font-size: var(--font-ZiseH2);
}
.formations h2 {
  font-weight: var(--font-weightH2);
  font-size: var(--font-ZiseH2);
}
.Autres_formations h2 {
  font-weight: var(--font-weightH2);
  font-size: var(--font-ZiseH2);
}
.projets h2{
  font-weight: var(--font-weightH2);
  font-size: var(--font-ZiseH2);
}
.loisirs h2 {
  font-weight: var(--font-weightH2);
  font-size: var(--font-ZiseH2);
}
.animations h2 {
  font-weight: var(--font-weightH2);
  font-size: var(--font-ZiseH2);
}
.container-competencesIcons {
  width: 500px;
}
.Loisirs__top {
  width: 90%;
  margin: auto;
  padding: 1%;
  justify-content: space-evenly;
}
.Loisirs__top p {
  width: 60%;
  
}
.animations {
  margin: 40px;
}
footer {
  margin: 40px;
}
.footer__icons {
  width: 800px;
  margin: auto;
}
}
  
