/*  Como tabajar ordenadamente 
1. posicionamiento
2.Modelo de caja (box model)
3.tipografia
4.visuales
5.otros 
*/
/* Como llamar la fuestes en css 
font-family: 'DM Sans', sans-serif;
font-family: 'Inter', sans-serif;
*/
  
/*  hbvdv */
:root {
    --font-weightH2: 500;
    --font-ZiseH2: 150%;
    --font-ziseP: 120%;
    --width-sections: 500px; 
    --margin-sections: auto;
    --pading-sections: 5px;
  
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
    
}
header {
    position: relative;
    display: flex;
    flex-direction: column;
    
    justify-content: space-between;
    width: 100%;
    min-width: 320px;
    height: 100vh;
    text-align: center;
    

}
.header_icon_desplegable{
    align-self: flex-start;
    padding: 2em 0em 0em 2.9em;
}
.header_icon_in{
    align-self: flex-end;
    padding: 1.5em;
}
path {
   fill: black; 
}
.header_images_title {

    padding: 1em;
}
.foto_david{
    width: 40%;
    height: 40%;
}
.header_h1 {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    padding: 30px 0px 0px 0px;
}
.header__developer {
    display: flex;
    justify-content: center;
}
.header__developer__title{
    font-family: 'DM Sans';
    font-size: 24px;
    font-weight: bold;
}
/* section Qui suis-je?*/

.Qui_suis-je h2 {
   
    font-style: normal;
    font-weight: var(--font-weightH2);
    font-size: var(--font-ZiseH2);
    line-height: 23px;

    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;

}
.Qui_suis-je p {
    text-align: justify;
    width:300px;
    margin: auto;
    font-size: var(--font-ziseP);
    margin-bottom: 30px;
}

    

.buttonCV {
    display: flex;
    justify-content: space-around;
    align-items: center;
  
    width: 220px;
    height: 60px;
    margin-left:auto ;
    margin-right:auto; 
}
/*Competences*/
.parent1 h2 {
    font-family: DM Sans;
    font-style: normal;
    font-weight: var(--font-weightH2);
    font-size: var(--font-ZiseH2);
    text-align: center;
    padding-top: 40px;
   
    background-color: rgb(250, 250, 250) ;
}
.competences {
    padding-bottom: 30px;
}
.competences h2 {
    text-align: center;
    font-size: var(--font-ZiseH2);
    padding-top: 50px;
    padding-bottom: 30px;
}
.Competences_icons{
    
display: flex;

justify-content: space-evenly;
margin: 15px;
}

/* Formation */
.formations{
    position: relative;
    width: 100%;
    min-width: 320px;
    height: 100%;
    background-color: rgb(250, 250, 250);
    padding-top: 20px;
    padding-bottom: 30px;
  
}
.formations article {
    padding: 1em;
}
.formations h2{
    font-family: DM Sans;
    font-style: normal;
    font-weight: var(--font-weightH2);
    font-size: var(--font-ZiseH2);
    text-align: center;
    padding-top: 10px;
    margin-bottom: 20px;
}
.formations p {
    text-align:justify;
    width:320px;
    margin: auto;
    font-size: var(--font-ziseP);
    margin-bottom: 10px;
}
.formation__p__center {
    text-align: center;
}
.formation__image__afpa{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.formation__button {
    display: flex;
    justify-content:space-evenly;
    margin-top: 20px;
}
.afpa__p__center {
    text-align: center;
}

/* Autres Formations*/
.Autres_formations{
    position: relative;
    width: 100%;
    min-width: 320px;
    height: 100%;
    
    padding-bottom: 30px;
  
}
.Autres_formations h2{
    font-family: DM Sans;
    font-style: normal;
    font-weight: var(--font-weightH2);
    font-size: var(--font-ZiseH2);
    text-align: center;
    padding-top: 40px;
    margin-bottom: 30px;
}
.Autres_formations p {
    text-align: justify;
    width:300px;
    margin: auto;
    font-size: var(--font-ziseP);
    margin-bottom: 30px;
}
.autres_formations__img {
 display: flex;
 justify-content: center;    
 margin-bottom: 30px;
}
.date__sjt{
    text-align: center;
}
/*Projets*/
.projets{
    position: relative;
    width: 100%;
    min-width: 320px;
    height: 100%;
    padding-top: 20px;
    background-color:#E0F0FB ;
    padding-bottom: 40px;
  
  
}
.projets h2{
    font-family: DM Sans;
    font-style: normal;
    font-weight: var(--font-weightH2);
    font-size: var(--font-ZiseH2);
    text-align: center;
    padding: 20px;
}
.projets p {
    text-align: justify;
    width:272px;
    margin: auto;
    font-size: var(--font-ziseP);
    padding-bottom: 20px;
}
.projets__1{
    width:272px;
height: 218px;
display: flex;
flex-direction: column;
background: linear-gradient(180deg, #3771C8 0%, rgba(55, 113, 200, 0) 100%);
margin: auto;

}
.projects__header{
    width: 100%;
    height: 121px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.projects__foother {
    display: flex;
    justify-content: space-evenly;
}
.projects__foother__button{
    width: 108px;
    height: 33px;
    background-color: black;
    color: white;
}
.projets__2{
    Width:272px;
Height: 218px;
}
.cajas__projets__ima{
    width: 68px;
    height: 68px;
}
/* Loisirs*/
.loisirs{
    position: relative;
    width: 100%;
    min-width: 320px;
    height: 100%;
    padding-top: 55px;
    padding-bottom: 30px;
    background-color:#FDEDEC;
  
}
.loisirs h2 {
    font-family: DM Sans;
    font-style: normal;
    font-weight:var(--font-weightH2);
    font-size: var(--font-ZiseH2);
    text-align: center;
    padding-top: 10px;
    margin-bottom: 10px;
}
.Loisirs__top {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}
.Loisirs__top p {
    text-align: justify;
    width:200px;
    margin: auto;
    font-size: var(--font-ziseP);
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 5px;
}
/* Freelance*/
.parent3 h2 {
    font-family: DM Sans;
    font-style: normal;
    font-weight: var(--font-weightH2);
    font-size: var(--font-ZiseH2);
    text-align: center;
    padding-top: 40px;
    margin-bottom: 30px;
}
.section__freelance {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: 100%;
    
    padding-bottom: 30px;
  
}
.section__freelance h2{
    font-family: DM Sans;
    font-style: normal;
    font-weight: var(--font-weightH2);
    font-size: var(--font-ZiseH2);
    text-align: center;
    padding-top: 40px;
    margin-bottom: 30px;
}
.section__freelance p {
    text-align: justify;
    width:300px;
    margin: auto;
    font-size: var(--font-ziseP);
    margin-bottom: 30px;
}
.section__freelance__img {
 display: flex;
 justify-content: center;    
 
}
.date__sjt{
    text-align: center;
}

/* Animations*/
.animations {
    padding: 20px;
}
.animations h2 {
    text-align: center;
    font-size: var(--font-ZiseH2);
    font-weight: var(--font-weightH2);
}


/* Footer */
footer h1 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
footer h2{
    font-size: var(--font-ZiseH2);
    font-weight: var(--font-weightH2);
    text-align: center;
}
.footer__icons{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 30px;
    padding-top: 20px;
}